


.header{
  background-color: #ffff;
  border-bottom: 4px ridge;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.logo{
  font-family: "JetBrains Mono", serif;
  font-weight: bold;
  font-size: xx-large;
}

.github-link{
  font-family: "JetBrains Mono", serif;
  font-weight: bold;
  font-size: medium;
}