


.header{
  background-color: #ffff;
  border-bottom: 4px ridge;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.link {
  color: #FFF;
  text-decoration: none;
  font-family: "JetBrains Mono", serif;
  font-weight: bold;
}

.link-active {
  text-decoration: none;
  font-family: "JetBrains Mono", serif;
  font-weight: bold;
  background-color: #ffa84d;
}



